header{
    position : absolute;
    left : 50%;
    width : 500px;
    height : 110px;
    margin-left: -250px;
    top : 50%;
    margin-top : -55px;
}
footer{
    position:absolute;
    width : 198px;
    height : 22px;
    left : 50%;
    bottom : 5%;
    margin-left: -89px;
    margin-bottom : -11px;
    
}
